BODY
{
    background-color: #6699CC
}
.stlFooterLink
{
    COLOR: #003366;	
    FONT-FAMILY: Arial, Times New Roman;
    FONT-SIZE: 8pt;
    FONT-WEIGHT: bold
}
.stlFooter
{
    COLOR: #000000;
    FONT-FAMILY: Arial, Times New Roman;
    FONT-SIZE: 8pt
}
.stlLinks
{
    COLOR: #003366;
    FONT-FAMILY: Arial, Times New Roman;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: bold
}
A:hover
{
    COLOR: #99CCFF
}
.stlTxBkgColor1
{
    background-color: #6699CC;
    FONT-FAMILY: Arial, Times New Roman;
    FONT-SIZE: 12pt;
    FONT-WEIGHT: bold
}
.stlContent
{
    COLOR: #000000;
    FONT-FAMILY: Arial, Times New Roman;
    FONT-SIZE: 10pt
}
.stlContentWhite
{
    COLOR: #ffffff;
    FONT-FAMILY: Arial, Times New Roman;
    FONT-SIZE: 10pt
}
.stlContentBold
{
    COLOR: #000000;
    FONT-FAMILY: Arial, Times New Roman;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: bold
}
.stlMenuLink
{
    COLOR: #ffffff;
    FONT-FAMILY: Arial, Times New Roman;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: bold
}
.stlContentSmall
{
    COLOR: #003366;
    FONT-FAMILY: Arial, Times New Roman;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: bold
}
.stlContent_2
{
    COLOR: #6699CC;
    FONT-FAMILY: Arial, Times New Roman;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: bold
}
.stlContentHeader
{
    COLOR: #6699CC;
    FONT-FAMILY: Arial, Times New Roman;
    FONT-SIZE: 13pt;
    FONT-WEIGHT: bold
}
.stlContentHeader2
{
    COLOR: #003366;
    FONT-FAMILY: Arial, Times New Roman;
    FONT-SIZE: 12pt;
    FONT-WEIGHT: bold
}
.stlHeader
{
    COLOR: #003366;
    FONT-FAMILY: Arial;
    FONT-SIZE: 20pt;
    FONT-WEIGHT: bold
}
.stlHeader2
{
    COLOR: #003366;
    FONT-FAMILY: Arial;
    FONT-SIZE: 18pt;
    FONT-WEIGHT: bold
}
.stlSpecial
{
    COLOR: red;
    FONT-FAMILY: Arial, Times New Roman;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: bold
}
.stlColor1
{
    background-color: #6699CC;
}
.stlColor2
{
    background-color: #99CCFF
}
.stlColor3
{
    background-color: #003366
}
.stlColorWhite
{
    background-color: #ffffff
}
.stlLine1
{
    color: #6699CC;
}
.stlLine2
{
    color: #003366;
}

CCCC99
99CCCC
669999

6699CC
99CCFF
003366